
# --------------------------- IDE files & folders ---------------------------- #

*.pyc
.idea
.env
.venv
.vscode
.mypy_cache
.DS_Store
data/*
app/data

# --------------------------------- Logging ---------------------------------- #

log
*.log

# -------------------------- Django folders & files -------------------------- #

cache
__pycache__

# --------------------------------- Testing ---------------------------------- #

test
pytest

# ---------------------------------- Build ----------------------------------- #

build
dist
